[definitions.DLinear]
cls_path = "nazuna.models.dlinear.DLinear"
[definitions.DLinear.params]
seq_len_raw = {{ seq_len_raw }}
seq_len = {{ seq_len }}
pred_len = {{ pred_len }}
kernel_size = 25
bias = true
n_moving_avg = 1
scaler_cls_path = "nazuna.models.common.IqrScaler"
scaler_params = { "stat_types" = [ "qtile_full", "saved",] }
prep_type = "none"

[definitions.DLinearChannelwise]
cls_path = "nazuna.models.dlinear.DLinearChannelwise"
[definitions.DLinearChannelwise.params]
seq_len_raw = {{ seq_len_raw }}
seq_len = {{ seq_len }}
pred_len = {{ pred_len }}
c_in = {{ n_channel }}
kernel_size = 25
bias = true
n_moving_avg = 1
scaler_cls_path = "nazuna.models.common.IqrScaler"
scaler_params = { "stat_types" = [ "qtile_full", "saved",] }
prep_type = "none"

[definitions.DLinearCrossChannel]
cls_path = "nazuna.models.dlinear.DLinearCrossChannel"
[definitions.DLinearCrossChannel.params]
seq_len_raw = {{ seq_len_raw }}
seq_len = {{ seq_len }}
pred_len = {{ pred_len }}
c_in = {{ n_channel }}
kernel_size = 25
bias = true
n_moving_avg = 1
scaler_cls_path = "nazuna.models.common.IqrScaler"
scaler_params = { "stat_types" = [ "qtile_full", "saved",] }
prep_type = "none"

[definitions.DLinearStacked]
cls_path = "nazuna.models.dlinear.DLinearStacked"
[definitions.DLinearStacked.params]
seq_len_raw = {{ seq_len_raw }}
seq_len = {{ seq_len }}
pred_len = {{ pred_len }}
c_in = {{ n_channel }}
kernel_size = 25
bias = true
n_moving_avg = 1
scaler_cls_path = "nazuna.models.common.IqrScaler"
scaler_params = { "stat_types" = [ "qtile_full", "saved",] }
prep_type = "none"

[definitions.NLinear]
cls_path = "nazuna.models.dlinear.NLinear"
[definitions.NLinear.params]
seq_len_raw = {{ seq_len_raw }}
seq_len = {{ seq_len }}
pred_len = {{ pred_len }}
bias = true
scaler_cls_path = "nazuna.models.common.IqrScaler"
scaler_params = { "stat_types" = [ "qtile_full", "saved",] }
prep_type = "none"

[definitions.NLinearChannelwise]
cls_path = "nazuna.models.dlinear.NLinearChannelwise"
[definitions.NLinearChannelwise.params]
seq_len_raw = {{ seq_len_raw }}
seq_len = {{ seq_len }}
pred_len = {{ pred_len }}
c_in = {{ n_channel }}
bias = true
scaler_cls_path = "nazuna.models.common.IqrScaler"
scaler_params = { "stat_types" = [ "qtile_full", "saved",] }
prep_type = "none"

[definitions.NLinearCrossChannel]
cls_path = "nazuna.models.dlinear.NLinearCrossChannel"
[definitions.NLinearCrossChannel.params]
seq_len_raw = {{ seq_len_raw }}
seq_len = {{ seq_len }}
pred_len = {{ pred_len }}
c_in = {{ n_channel }}
bias = true
scaler_cls_path = "nazuna.models.common.IqrScaler"
scaler_params = { "stat_types" = [ "qtile_full", "saved",] }
prep_type = "none"

[definitions.NLinearPrunedCrossChannel]
cls_path = "nazuna.models.dlinear.NLinearPrunedCrossChannel"
[definitions.NLinearPrunedCrossChannel.params]
seq_len_raw = {{ seq_len_raw }}
seq_len = {{ seq_len }}
pred_len = {{ pred_len }}
c_in = {{ n_channel }}
bias = true
ref_state_path = ""
ref_ratio = 0.5
scaler_cls_path = "nazuna.models.common.IqrScaler"
scaler_params = { "stat_types" = [ "qtile_full", "saved",] }
prep_type = "none"

[definitions.NLinearStacked]
cls_path = "nazuna.models.dlinear.NLinearStacked"
[definitions.NLinearStacked.params]
seq_len_raw = {{ seq_len_raw }}
seq_len = {{ seq_len }}
pred_len = {{ pred_len }}
c_in = {{ n_channel }}
bias = true
freeze_nlinear = false
scaler_cls_path = "nazuna.models.common.IqrScaler"
scaler_params = { "stat_types" = [ "qtile_full", "saved",] }
prep_type = "none"
