[definitions.Gateformer]
cls_path = "nazuna.models.gateformer.Gateformer"
[definitions.Gateformer.params]
seq_len_raw = {{ seq_len_raw }}
seq_len = {{ seq_len }}
pred_len = {{ pred_len }}
c_in = {{ n_channel }}
patch_len = 8
stride = 8
d_model = 512
n_heads = 8
d_ff = 2048
e_layers = 2
dropout_emb = 0.1
dropout_aw = 0.1
dropout_sa = 0.1
dropout_ff = [ 0.0, 0.2,]
scaler_cls_path = ""
scaler_params = {}
prep_type = "none"
use_revin = true
revin_affine = false
revin_eps = 1e-5
use_lc = false
lc_end_epoch = 20
lc_rate = 0.9
