out_dir = "./out/jma_daily_eval_naive"
exist_ok = true

[data]
path = [ "jma", "weather_japan_daily_2025-01-01_2025-12-31_2_blocks.csv",]
colname_timestamp = "date"
seq_len = 29
pred_len = 7
white_list = [ "temp_avg_nagoya", "temp_avg_fukuoka",]

[[tasks]]
task_type = "eval"
name = "Eval SimpleAverage"
data_range_eval = [ 0.8, 1.0,]
criterion_cls_path = "nazuna.criteria.MAE"
criterion_params = { n_channel = 2, pred_len = 7 }
model_cls_path = "nazuna.models.simple_average.SimpleAverage"
model_params = { seq_len = 28, pred_len = 7, period_len = 7 }

[[tasks]]
task_type = "eval"
name = "Eval SimpleDiffAverage"
data_range_eval = [ 0.8, 1.0,]
criterion_cls_path = "nazuna.criteria.MAE"
criterion_params = { n_channel = 2, pred_len = 7 }
model_cls_path = "nazuna.models.simple_average.SimpleDiffAverage"
model_params = { seq_len = 29, pred_len = 7, period_len = 7 }

[[tasks]]
task_type = "train"
name = "Train Circular"
data_range_train = [ 0.0, 0.8,]
data_range_eval = [ 0.8, 1.0,]
criterion_cls_path = "nazuna.criteria.MAE"
criterion_params = { n_channel = 2, pred_len = 7 }
model_cls_path = "nazuna.models.circular.Circular"
model_params = { seq_len = 29, pred_len = 7, n_channel = 2, periods = [ 1,2,3,4,5,6,7,], quantile_mode_train = "full", quantile_mode_eval = "saved" }
batch_sampler_cls_path = "nazuna.batch_sampler.BatchSamplerShuffle"
batch_sampler_params = { batch_size = 16 }
optimizer_cls_path = "torch.optim.Adam"
optimizer_params = { lr = 0.001 }
n_epoch = 1

[[tasks]]
task_type = "eval"
name = "Eval Circular"
data_range_eval = [ 0.8, 1.0,]
criterion_cls_path = "nazuna.criteria.MAE"
criterion_params = { n_channel = 2, pred_len = 7 }
model_cls_path = "nazuna.models.circular.Circular"
model_params = { seq_len = 29, pred_len = 7, n_channel = 2, periods = [ 1,2,3,4,5,6,7,], quantile_mode_train = "full", quantile_mode_eval = "saved" }
model_state = { task_name = "Train Circular" }
