@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Armata&family=IBM+Plex+Sans+JP&display=swap');
:root, [data-md-color-scheme=default] {
    --md-default-bg-color: #f7fbfa;
    --md-code-fg-color: #536267;
    --md-code-bg-color: #dee2e3;
}
[data-md-color-primary=white] {
    --md-typeset-a-color: #0d895f;
}
[data-md-color-accent=indigo] {
    --md-accent-fg-color: #8ecab8;
}
body {
    font-family: 'Armata', 'IBM Plex Sans JP', var(--md-text-font-family);
}
.md-main__inner {
    margin-top: 1.5em;
}
.md-typeset {
    font-size: 0.7rem;
    line-height: 1.4;
}
.md-nav {
    font-size: 0.65rem;
}
code, pre, .md-typeset code {
    font-family: 'Source Code Pro', var(--md-code-font-family);
    font-optical-sizing: auto;
    font-weight: 500;
}
.md-typeset code {
    font-size: .94em;
    padding: .05em .25em;
}
.md-header {
    background-color: #daece7;
	box-shadow: none;
}
.md-typeset h1 {
    margin: 0 0 -0.25em;
}
.md-typeset h2 {
    font-weight: bold;
    margin: 1.5em 0 -0.25em;
}
.md-typeset h3{
    font-weight: bold;
}
.md-typeset h3 code {
    font-size: 1.1em;
    font-weight: 600;
}
.md-typeset h4 code {
    margin-top: 1.5em;
}
.md-typeset h4 code {
    font-size: 1.05em;
    font-weight: 600;
}
.md-typeset .admonition, .md-typeset details {
	box-shadow: none;
}
